#product {
    position: relative;
    .card_overlay {
        position: relative;
        .card {
            border: 0px;
            .card-layout {
                .card-info{
                    display: none;
                }
                &:hover{
                    .card-info{
                        display: block;
                    }
                }
                .card-body {
                    padding: 10px;
                    span{
                        font-size: 1rem;
                        font-weight: 800;
                    }
                }
                .card-desc {
                    font-size: 15px;
                    p{
                        span:nth-child(1){
                            color: red;
                        }
                    }
                }
            }
        }
        button{
            transform: translate(25%,0);
        }
    }
}